<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Star Titans</title>
</head>
<body style="background-color:black">
<br>
<div id="selectionPanel"></div>
<canvas id="myCanvas" width="1100" height="650" style="border:1px solid #000000;"></canvas>
<script>
    var canvas = document.getElementById("myCanvas");
    var ctx = canvas.getContext("2d");
    ctx.font = "10px Arial";
    ctx.textAlign = "center";
    var map;
    var clickableArea = 20;

//    var avgWhiteStar =  new Image();
//    avgWhiteStar.src = "images/averstarwhite.png"

    var selectionPanel = document.getElementById("selectionPanel");

    canvas.addEventListener("click", onClick);
    function onClick(event){
        var canvasX = event.x - canvas.offsetLeft + document.body.scrollLeft;
        var canvasY = event.y - canvas.offsetTop + document.body.scrollTop;
        exampleSocket.send("click(" + canvasX +", "+ canvasY +")");
        for(i=0; i < map.MAP.length; i++){
            if(map.MAP[i].i.x < canvasX + clickableArea && map.MAP[i].i.x > canvasX - clickableArea && map.MAP[i].i.y < canvasY + clickableArea && map.MAP[i].i.y > canvasY - clickableArea){
                if(map.MAP[i].i.type == "ship"){
                    drawShip(map.MAP[i].i.x, map.MAP[i].i.y, map.MAP[i].i.ships, map.MAP[i].i.destination, map.MAP[i].i.owner, true, ctx);
                } else if(map.MAP[i].i.type == "star"){
                    var selection = document.createElement('input');
                    selection.type = "text";
                    selection.value = "star selected = " + map.MAP[i].i.id;
                    selectionPanel.appendChild(selection);
                } else {
                    while (selectionPanel.firstChild) {
                        selectionPanel.removeChild(selectionPanel.firstChild);
                    }
                }
            }
        }
    }

    var exampleSocket = new WebSocket("ws://localhost:3001", "echo-protocol");
    exampleSocket.onopen = function (event) {
        exampleSocket.send("Map?");
    };
    exampleSocket.onmessage = function (event) {
        if(event.data.toString().substring(2,5) == "MAP") {
            console.log("Map received: " + event.data);
            map = JSON.parse(event.data);
            console.log(map.MAP.length);
            clearMap(canvas, ctx);
            for(var i = 0; i < map.MAP.length; i++){
                if(map.MAP[i].i.type == "star"){
                    drawStar(map.MAP[i].i.x, map.MAP[i].i.y, map.MAP[i].i.id, map.MAP[i].i.science, map.MAP[i].i.industry, map.MAP[i].i.economy, map.MAP[i].i.ships, map.MAP[i].i.owner, ctx);
                }
                if(map.MAP[i].i.type == "ship"){
                    drawShip(map.MAP[i].i.x, map.MAP[i].i.y, map.MAP[i].i.ships, map.MAP[i].i.destination, map.MAP[i].i.owner, false, ctx);
                }
            }
        }
    };

    function drawStar(x, y, name, science, industry, economy, ships, owner, ctx){
        console.log(name);
        ctx.fillStyle="#FFFFFF";
        x = parseInt(x, 10);
        y = parseInt(y, 10);
        owner = parseInt(owner, 10);
        ctx.fillText(name, x, y + 15);
        ctx.fillText(economy, x - 7, y - 12);
        ctx.fillText(industry, x, y - 12);
        ctx.fillText(science, x + 7, y - 12);
        ships = parseInt(ships,10);
        if(ships > 0){
            ctx.fillText(ships, x, y + 23);
        }
//        if(owner == 0){
//            ctx.drawImage(avgWhiteStar, x, y);
//        } else {
            ctx.beginPath();
            ctx.arc(x, y, 8, 0, 2 * Math.PI);
            var gradient = ctx.createRadialGradient(x, y, 2, x, y, 8);
            gradient.addColorStop(0, getPlayerColor(parseInt(owner, 10)));
            gradient.addColorStop(1, "black");
            ctx.fillStyle = gradient;
            ctx.fill();
//        }
    }

    function drawShip(x, y, ships, destination, owner, isSelected, ctx){
        ctx.fillStyle="#FFFFFF";
        x = parseInt(x, 10);
        y = parseInt(y, 10);
        ctx.fillText(ships, x, y + 20);
        ctx.beginPath();
        ctx.moveTo(x,y);
        ctx.lineTo(x-4,y-3);
        ctx.lineTo(x-4,y+3);
        ctx.fill();
        for(i=0; i < map.MAP.length; i++){
            if(map.MAP[i].i.type=="star"){
                if(map.MAP[i].i.id == destination){
                    console.log("course charted from " + x + ", " + y + " to " + map.MAP[i].i.x + ", " + map.MAP[i].i.y);
                    console.log(getPlayerColor(parseInt(owner, 10)));
                    ctx.strokeStyle=getPlayerColor(parseInt(owner, 10));
                    if(isSelected){
                        ctx.setLineDash([]);
                        ctx.lineWidth=2;
                    } else {
                        ctx.setLineDash([2, 2]);
                        ctx.lineWidth=1;
                    }
                    ctx.beginPath();
                    ctx.moveTo(x,y);
                    ctx.lineTo(map.MAP[i].i.x, map.MAP[i].i.y);
                    ctx.stroke();
                }
            }
        }
    }

    function clearMap(canvas, ctx){
        ctx.fillStyle="black";
        ctx.fillRect(0,0,canvas.width,canvas.height);
    }

    function getPlayerColor(player){
        switch(player) {
            case 0:
                return "#FFFFFF";
            case 1:
                return "#8EB9FE"; //blue
            case 2:
                return "#B4FE8E"; //green
            case 3:
                return "#FEE28E"; //yellow
            case 4:
                return "#FE8EE9"; //pink
        }
    }
</script>
</body>
</html>