mixin games(games)
    div(style = "display:flex; justify-content: space-around; margin-bottom: 20px;" class="border")
        div Game Name
            - for game in games
                div !{game.name}
        div Player Count
            - for game in games
                div !{game.playerCount}
        div Status
            - for game in games
                div !{game.status}