doctype html
include mixins

script.
    games = !{gamesString};

html
    head
        title Welcome
        link(rel='stylesheet', href='/stylesheets/style.css')
        script.
            function createGame(){
                document.getElementById('createNewGameModal').style.display = "flex";
                document.getElementById('createNewGameInput').focus();
            }

            function hideModal(id) {
                document.getElementById(id).style.display = "none";
            }

            function postNewGameToServer() {
                httpPostAsync("/welcome", console.log);
            }

            function httpPostAsync(theUrl, callback) {
                let gameName = document.getElementById('createNewGameInput').value;
                let data = {
                    "gameName": gameName
                }
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.onreadystatechange = function () {
                    if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                        callback(xmlHttp.responseText);
                }
                xmlHttp.open("POST", theUrl, true); // true for asynchronous
                xmlHttp.setRequestHeader("Content-Type", "application/json; charset=utf-8");
                var dataAsJson = JSON.stringify(data);
                xmlHttp.send(dataAsJson);
            }

body
        div(style="display:none; position:fixed; height:100%; width:100%; background-color:rgba(0,0,0,0.4); z-index:4;" id="createNewGameModal" onclick="hideModal('createNewGameModal')")
            div(style="height:200px; width:400px; background-color:black; margin:auto;" class="border")
                input(id="createNewGameInput" class="input")
                div(onclick="postNewGameToServer(); hideModal('createNewGameModal');" style="cursor:pointer;" class="border") Create Game

        if(gamesObject.length > 0)
            +games(gamesObject)

        a(href='/' style='display: block; margin-bottom: 10px;') Join Game

        div(class="border" onclick="createGame()" style="cursor:pointer;") Create Game