body {
  padding: 50px;
  font: 14px Helvetica;
  color: white;
  background-color: black;
}

a {
  color: #00B7FF;
}

.clickable {
  cursor: pointer;
}

.margin {
  margin: 10px;
}

.input {
  background-color:black; color:white; border-color:white; border-radius:5px; padding:5px; outline:none;
}

input:disabled {
    background-color:black; color:white; border:none; padding:5px; outline:none;
}

button {
  color: white;
  border: solid #00B7FF;
  background: #00B7FF;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.border {
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 5px;
  padding: 10px;
}